/* Icomoon variables */
$icomoon-font-family: "gafasicons" !default;
$icomoon-font-path: '../../assets/fonts' !default;


@use "sass:string";

$icon-discount: string.unquote('"\\e929"');
$icon-price: string.unquote('"\\e929"');
$icon-sale: string.unquote('"\\e929"');
$icon-tag: string.unquote('"\\e929"');
$icon-alert-circle: string.unquote('"\\e900"');
$icon-alert-triangle: string.unquote('"\\e901"');
$icon-arrow-down: string.unquote('"\\e902"');
$icon-arrow-up: string.unquote('"\\e908"');
$icon-arrow-left: string.unquote('"\\e904"');
$icon-arrow-right: string.unquote('"\\e906"');
$icon-arrow-down-circle: string.unquote('"\\e903"');
$icon-arrow-up-circle: string.unquote('"\\e909"');
$icon-arrow-left-circle: string.unquote('"\\e905"');
$icon-arrow-right-circle: string.unquote('"\\e907"');
$icon-check: string.unquote('"\\e90a"');
$icon-check-circle: string.unquote('"\\e90b"');
$icon-check-square: string.unquote('"\\e90c"');
$icon-chevron-down: string.unquote('"\\e90d"');
$icon-chevron-up: string.unquote('"\\e910"');
$icon-chevron-left: string.unquote('"\\e90e"');
$icon-chevron-right: string.unquote('"\\e90f"');
$icon-heart: string.unquote('"\\e911"');
$icon-minus: string.unquote('"\\e912"');
$icon-minus-circle: string.unquote('"\\e913"');
$icon-minus-square: string.unquote('"\\e914"');
$icon-plus: string.unquote('"\\e916"');
$icon-plus-circle: string.unquote('"\\e917"');
$icon-plus-square: string.unquote('"\\e918"');
$icon-phone-call: string.unquote('"\\e915"');
$icon-search: string.unquote('"\\e919"');
$icon-shopping-cart: string.unquote('"\\e91a"');
$icon-shopping-bag: string.unquote('"\\e928"');
$icon-tag1: string.unquote('"\\e91b"');
$icon-user: string.unquote('"\\e91c"');
$icon-x: string.unquote('"\\e91d"');
$icon-x-circle: string.unquote('"\\e91e"');
$icon-x-square: string.unquote('"\\e91f"');
$icon-edit: string.unquote('"\\e920"');
$icon-square: string.unquote('"\\e924"');
$icon-circle: string.unquote('"\\e925"');
$icon-mail: string.unquote('"\\e938"');
$icon-filter: string.unquote('"\\e927"');
$icon-facebook: string.unquote('"\\e921"');
$icon-instagram: string.unquote('"\\e922"');
$icon-x1: string.unquote('"\\e923"');
$icon-twitter: string.unquote('"\\e923"');
$icon-whatsapp: string.unquote('"\\e926"');

$icon-tiktok: string.unquote('"\\e92a"');