.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include font($primary-font, $regular);
    font-size: 15px;
    height: 45px;
    border-radius: 0;
    @include add-border(1px, transparent, 'all');
    box-shadow: none !important;
    outline: 0 !important;
    @include transition(0.3s);
    padding: 0 30px;
}

.btn-outline {
    @extend .btn;
    color: $primary-bg;
    background: transparent;
    border-color: $primary-bg;
    padding: 0 10px;
    &:hover, &:active {
        color: $primary-font-color;
        background: $primary-bg;
    }
}

.btn-outline-dark {
    @extend .btn;
    color: $primary-font-color;
    background: transparent;
    border-color: $primary-font-color;
    &:hover, &:active {
        color: $primary-bg;
        background: $primary-color;
    }
}