.footer {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0 20px;
    &__separator {
        padding: 50px 0 20px;
        &--hr {
            color: $primary-bg;
        }
    }
    &__top {
        &--socials {
            @include flex-display;
            gap: 10px;
            li {
                font-size: 0;
                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    color: $primary-bg;
                    i {
                        font-size: 22px;
                    }
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
    &__bottom {
        &--copy {
            color: $primary-bg;
            opacity: 0.7;
        }
        &--pg-icons {
            img {
                max-height: 90px;
            }
        }
    }
    &__title {
        @extend h5;
        color: $primary-bg;
        margin-bottom: 15px;
    }
    &__link {
        @include flex-display(column, flex-start, flex-start);
        gap: 15px;
        li {
            font-size: 0;
            a {
                @extend p;
                font-size: 14px;
                color: $primary-bg;
                margin-bottom: 0;
                opacity: 0.7;
                &:hover {
                    color: $primary-color;
                    opacity: 1;
                }
            }
        }
    }
    .newsletter {
        &__title {
            @extend h5;
            color: $primary-bg;
            margin-bottom: 15px;
        }
        &__desc {
            color: $primary-bg;
            opacity: 0.7;
        }
        &__form {
            form {
                display: flex;
                flex-direction: column;
                &.submitting {
                    .form-submit {
                        .btn-outline {
                            background: $primary-bg;
                            color: $primary-font-color;
                            pointer-events: none;
                        }
                    }
                }
                .wpcf7-response-output {
                    @extend p;
                    color: $primary-bg;
                    text-align: center;
                    margin: 15px 0;
                }
            }
            .form-group {
                margin-bottom: 10px;
                .wpcf7-form-control-wrap {
                    .form-control {
                        @extend p;
                        color: $primary-bg;
                        height: 45px;
                        background: transparent;
                        @include add-border(1px, $primary-bg, 'all');
                        border-radius: 0;
                        margin-bottom: 0;
                        &::placeholder {
                            color: $primary-bg;
                        }
                    }
                    .wpcf7-not-valid-tip {
                        display: none;
                    }
                }
            }
            .form-submit {
                @include flex-display(row, flex-start, center);
                .wpcf7-spinner {
                    background: $primary-bg;
                    &:before {
                        background: $primary-font-color;
                    }
                }
            }
        }
    }
}

.footer-bar {
    background: $secondary-bg;
    padding: 30px 0;
    &__row {
        gap: 20px 0;
    }
    .info {
        @include flex-display(row, flex-start, flex-start);
        gap: 20px;
        i {
            font-size: 45px;
            color: $primary-color;
        }
        &__meta {
            flex: 1 0;
            &--title {
                @include font($secondary-font, $medium);
                margin-bottom: 4px;
            }
            &--desc {
                font-size: 80%;
            }
        }
    }
}

#sidebarFilterToggle {
    display: none;
    @include respond-to-mob('medium') {
        display: block;
        position: fixed;
        top: 75px;
        right: 12px;
        width: 30px;
        height: 30px;
        font-size: 12px;
        color: $primary-bg;
        background: $primary-color;
        border: none;
        border-radius: 4px;
        z-index: 3;
        &.open {
            i {
                &:before {
                    content: $icon-x;
                }
            }
        }
    }
}

.wcapf-loader {
    .wcapf-loader-image {
        @include spinner(60px, $primary-color, $primary-font-color);
        svg {
            display: none !important;
        }
    }
}