.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: $primary-bg;
    @include add-border(1px, $primary-color, bottom);
    z-index: 100;
    @include transition(0.3s);
    @include respond-to-mob('medium') {
        height: 70px;
    }
    &__nav {
        @extend .container;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        flex-wrap: nowrap;
        max-height: 100px;
        margin: 0 auto;
        // padding: 0;
        @include flex-display(row, space-between, center);
        &--toggler {
            display: inline-flex;
            align-items: center;
            background: transparent;
            border: none;
            padding: 0;
            @include respond-to('medium') {
                display: none;
            }
            .lines {
                width: 30px;
                height: 24px;
                position: relative;
                & > span {
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 2px;
                    background: $primary-color;
                    border-radius: 5px;
                    transform: rotate(0deg);
                    @include transition(0.25s);
                    &:nth-child(1) {
                        top: 3px;
                        transform: rotate(0deg);
                    }
                    &:nth-child(2) {
                        top: 11px;
                        left: 0;
                        opacity: 1;
                    }
                    &:nth-child(3) {
                        top: 19px;
                        transform: rotate(0);
                    }
                }
            }
            &.open {
                .lines {
                    & > span {
                        position: absolute;
                        width: 30px;
                        transform: rotate(0deg);
                        border-radius: 5px;
                        &:nth-child(1) {
                            top: 11px;
                            transform: rotate(135deg);
                        }
                        &:nth-child(2) {
                            top: 11px;
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            top: 11px;
                            transform: rotate(-135deg);
                        }
                    }
                }
            }
        }
        &--brand {
            display: inline-flex;
            cursor: pointer;
            .logo {
                width: 200px;
                @include respond-to-mob('medium') {
                    width: 125px;
                }
            }
        }
        &--collapse {
            .main-menu {
                @include respond-to-mob('medium') {
                    max-width: 340px;
                    height: 100%;
                    overflow-y: auto;
                    margin: 0 auto;
                    padding: 15px 12px;
                }
                &__list {
                    @include flex-display(row, flex-start, center);
                    gap: 30px;
                    @include respond-to-mob('s-desk') {
                        @include flex-display(column, flex-start, flex-start);
                        gap: 15px;
                        height: 100%;
                    }
                    li {
                        @include respond-to-mob('s-desk') {
                            width: 100%;
                            @include flex-display(row, space-between, center);
                        }
                        .nav-link {
                            display: flex;
                            align-items: flex-end;
                            font-size: 16px;
                            color: $primary-font-color;
                            text-transform: uppercase;
                            position: relative;
                            padding: 5px 0;
                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0;
                                height: 2px;
                                background: $primary-color;
                                @include transition(0.3s);
                            }
                            &:hover {
                                color: $primary-color;
                                &:before {
                                    width: 100%;
                                }
                            }
                        }
                        &.dropdown {
                            & > .dropdown-toggle {
                                &:after {
                                    content: $icon-plus;
                                    font-family: $icomoon-font-family;
                                    font-size: 15px;
                                    border: none;
                                    vertical-align: unset;
                                    margin-left: 2px;
                                    @include transition(0.2s);
                                    @include respond-to-mob('s-desk') {
                                        display: none;
                                    }
                                }
                                &.show {
                                    &:after {
                                        content: $icon-minus;
                                    }
                                    & ~ .dropdown-menu {
                                        &.show {
                                            @include flex-display(column, flex-start, flex-start);
                                            @include respond-to-mob('s-desk') {
                                                max-height: 100%;
                                            }
                                        }
                                    }
                                }
                                & ~ .dropdown-menu {
                                    gap: 10px;
                                    border-radius: 0;
                                    padding: 20px 0;
                                    @include respond-to-mob('s-desk') {
                                        @include flex-display(column, flex-start, flex-start);
                                        position: relative;
                                        flex: none;
                                        width: 100%;
                                        max-height: 0;
                                        border: none;
                                        padding: 5px 0;
                                        overflow: hidden;
                                    }
                                    .dropdown-item {
                                        font-size: 16px;
                                        &:hover {
                                            background: transparent;
                                            color: $primary-color
                                        }
                                        &.active {
                                            background: $primary-color;
                                            color: $primary-bg;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include respond-to-mob('s-desk') {
                position: fixed;
                top: 70px;
                right: 0;
                transform: translateX(100%);
                width: 100vw;
                height: calc(100dvh - 70px);
                background: $primary-bg;
                @include transition(0.3s);
                z-index: 1;
                &.open {
                    transform: translateX(0);
                }
            }
        }
        &--right {
            @include flex-display(row, flex-end, center);
            gap: 24px;
            @include respond-to-mob('medium') {
                gap: 15px;
                padding-left: 30px;
            }
            .navbar-wishlist {
                li {
                    a {
                        color: $primary-font-color;
                        .woosw-menu-item-inner {
                            font-size: 0;
                            display: block;
                            height: 16px;
                            &:before {
                                content: $icon-heart;
                                font-family: $icomoon-font-family;
                                font-size: 15px;
                                line-height: 1;
                            }
                        }
                    }
                }
            }
            .navbar-account {
                a {
                    font-size: 0;
                    color: $primary-font-color;
                    &:before {
                        content: $icon-user;
                        font-family: $icomoon-font-family;
                        font-size: 15px;
                        line-height: 1;
                    }
                }
            }
            .navbar-cart {
                a {
                    color: $primary-font-color;
                    font-weight: $regular;
                    .woofc-menu-item-inner {
                        display: block;
                        height: 16px;
                        i {
                            font-family: unset !important;
                            &:before {
                                content: $icon-shopping-bag;
                                font-family: $icomoon-font-family;
                                font-size: 15px;
                                line-height: 1;
                            }
                        }
                    }
                    .woofc-menu-item-inner-subtotal {
                        @include respond-to-mob('medium') {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

body {
    &.admin-bar {
        .header {
            top: 32px;
            @include respond-to-mob('medium') {
                top: 46px;
            }
        }
    }
}