.single-page {
    &.single-cart-checkout {
        .container {
            @include respond-to('s-desk') {
                max-width: 1140px;
                padding: 0 12px;
            }
        }
        
        &.checkout {
            margin-bottom: 80px;
            .wc-block-components-title {
                @extend h6;
                @include font($secondary-font, $semi-bold);
            }

            .wc-block-components-checkout-step {
                &__content {
                    .wc-block-components-radio-control {
                        .wc-block-components-radio-control-accordion-option {
                            label[for="radio-control-wc-payment-method-options-wompi"] {
                                padding: 0;
                            }
                            #radio-control-wc-payment-method-options-wompi__content {
                                .wc-block-payment-method {
                                    &__content {
                                        align-items: center;
                                        gap: 10px;
                                    }
                                    &__description {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .wc-block-checkout {
                &__actions_row {
                    .wc-block-components-checkout-return-to-cart-button {
                        &:hover {
                            color: $primary-color;
                        }
                    }
                    .wc-block-components-button {
                        @extend .btn-dark, .btn-xl;
                    }
                }
            }

            .wp-block-woocommerce-checkout-order-summary-coupon-form-block {
                .wc-block-components-totals-coupon {
                    &__button {
                        @extend .btn-outline-dark;
                        height: 50px;
                        padding: 0 15px;
                    }
                }
            }

            .order_details {
                // margin-top: 40px;
            }
            #wompi-button {
                .waybox-button {
                    @extend .btn-xl;
                    background: $primary-color;
                }
            }

            .woocommerce-order {
                &.thankyou-page {
                    margin-top: 40px;
                    h2.woocommerce-notice {
                        @include font($secondary-font, $semi-bold);
                        font-size: 30px;
                        margin-bottom: 50px;
                        display: flex;
                        flex-direction: column;
                        // &:before {
                        //     content: $icon-check-circle;
                        //     font-family: $icomoon-font-family;
                        //     font-size: 60px;
                        //     margin-bottom: 15px;
                        // }
                        &.woocommerce-notice--success {
                            &:before {
                                // color: $green;
                            }
                        }
                        &.woocommerce-notice--error {
                            &:before {
                                // color: $red;
                            }
                        }
                    }
                    .woocommerce-order-details {
                        &__title {
                            @extend .h5, .styled; 
                        }
                        .woocommerce-table {
                            margin-top: 8px;
                            &__product-name {
                                a, .product-quantity {
                                    font-size: 18px;
                                    font-weight: $medium;
                                }
                                .wc-item-meta {
                                    @include flex-display(column, flex-start, flex-start);
                                    gap: 7px;
                                    margin-top: 10px;
                                    li {
                                        @include flex-display(row, flex-start);
                                        strong, p {
                                            font-size: 10px;
                                            line-height: 1.2;
                                        }
                                    }
                                }
                            }
                            &__product-total {
                                font-size: 20px;
                            }
                        }
                    }
                    .woocommerce-order-overview {
                        &.order_details {
                            @include flex-display(row, center);
                            gap: 20px;
                            // background: $alt-grey;
                            padding: 15px 20px;
                            margin-bottom: 20px;
                            @include respond-to('s-desk') {
                                gap: 30px;
                            }
                            li {
                                flex: none;
                                width: 100%;
                                border: none;
                                padding: 0;
                                margin: 0;
                                @include respond-to('medium') {
                                    width: auto;
                                }
                                strong {
                                    font-size: 15px;
                                }
                            }
                            &:before, &:after {
                                display: none;
                            }
                        }
                    }
                    .gateway-instructions {
                        margin-bottom: 50px;
                        p {
                            font-size: 20px;
                        }
                    }
                    .woocommerce-customer-details {
                        .woocommerce-column {
                            &__title {
                                @extend .h5, .styled;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }

            .wc-block-components-order-summary-item {
                &__description {
                    .wc-block-components-product-metadata {
                        .wc-block-components-product-details {
                            &:not(:first-child) {
                                display: none;
                            }
                        }
                    }
                }
            }

            /*
            .gafas-checkout {
                .customer-details {
                    @include respond-to('s-desk') {
                        padding-right: 50px;
                    }
                    .woocommerce-billing-fields {
                        &__field-wrapper {
                            .woocommerce-form-login-toggle {
                                .woocommerce-info {
                                    display: flex;
                                    align-items: center;
                                    gap: 7px;
                                    font-size: 17px;
                                    padding: 15px;
                                    margin-bottom: 16px;
                                    border-color: $primary-color;
                                    &:before {
                                        content: $icon-info;
                                        font-family: $icomoon-font-family;
                                        position: static;
                                    }
                                }
                            }
                        }
                    }
                    &__billing {
                        @include add-border(1px, rgba($primary-font-color, 0.4), 'bottom');
                        padding-bottom: 40px;
                    }
                    &__shipping {
                        margin-top: 40px;
                        .woocommerce-shipping-fields {
                            @include add-border(1px, rgba($primary-font-color, 0.4), 'bottom');
                            padding-bottom: 40px;
                            margin-bottom: 40px;
                        }
                    }
                    .woocommerce-form {
                        &__label-for-checkbox {
                            position: relative;
                            z-index: 0;
                            cursor: pointer;
                            input[type="checkbox"] {
                                visibility: hidden;
                                opacity: 0;
                                & ~ span {
                                    padding-left: 15px;
                                    &:before, &:after {
                                        content: $icon-check-square;
                                        font-family: $icomoon-font-family;
                                        font-size: 20px;
                                        position: absolute;
                                        left: 0;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        @include transition(0.3s);
                                    }
                                    &:after {
                                        content: $icon-square;
                                    }
                                    &:before {
                                        opacity: 0;
                                    }
                                }
                                &:checked {
                                    & ~ span {
                                        &:before {
                                            color: $primary-color;
                                            opacity: 1;
                                        }
                                        &:after {
                                            opacity: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            */
        }

        &.cart {
            padding-bottom: 50px;
            .wp-block-heading {
                @extend .h3, .styled;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .wc-block-cart {
                &__submit-button {
                    @extend .btn-dark, .btn-xl;
                }
            }
            .wc-block-components-totals-coupon {
                &__button {
                    @extend .btn-outline-dark;
                    height: 50px;
                    padding: 0 15px;
                }
            }

            .wc-block-cart-items {
                &__row {
                    .wc-block-components-product-metadata {
                        .wc-block-components-product-details {
                            &:not(:first-child) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .woocommerce {
                .woocommerce-cart-form {
                    &__contents {
                        border: none;
                        border-radius: 0;
                        th {
                            font-size: 0.75em;
                            line-height: 1.2;
                            text-transform: uppercase;
                            padding: 8px 12px;
                            &:first-child {
                                padding-left: 0;
                            }
                            &:last-child {
                                padding-right: 0;
                            }
                        }
                        tr {
                            td.actions {
                                padding: 15px 12px;
                                .coupon {
                                    .input-text {
                                        font-size: 14px;
                                        min-width: 137px;
                                        height: 38px;
                                        border-color: $form-border;
                                        &:focus {
                                            border-color: $primary-font-color;
                                        }
                                    }
                                    .btn-outline-dark {
                                        height: 38px;
                                        border-radius: 0;
                                        padding: 0 10px;
                                    }
                                }

                                button[name='update_cart'] {
                                    height: 38px;
                                    border-radius: 0;
                                    padding: 0 15px;
                                    &:disabled {
                                        opacity: 0.4;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                    }
                    &__cart-item {
                        td {
                            vertical-align: top;
                            padding: 24px 0 24px 16px;
                        }
                        .product-thumbnail {
                            a {
                                display: block;
                                img {
                                    width: 84px;
                                    max-width: 100%;
                                    height: auto;
                                }
                            }
                        }
                        .product-detail {
                            &__wrap {
                                margin-bottom: 12px;
                                a {
                                    display: inline-flex;
                                }
                            }

                            &__price {
                                margin-bottom: 12px;
                                &--wrap {
                                    font-size: 15px;
                                    ins {
                                        text-decoration: unset;
                                        margin-left: 5px;
                                    }
                                }
                            }

                            &__meta {
                                margin-bottom: 12px;
                                &--variation {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 5px;
                                    margin-bottom: 12px;
                                    li {
                                        @include flex-display();
                                        gap: 5px;
                                        span {
                                            font-size: 11px;
                                            line-height: 1.2;
                                            &:first-child {
                                                font-weight: $bold;
                                            }
                                        }
                                        p {
                                            font-size: 11px;
                                            line-height: 1.2;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                                &--est-delivery {
                                    font-size: 12px;
                                    font-weight: $semi-bold;
                                }
                            }

                            &__remove {
                                .remove {
                                    display: inline-flex;
                                    font-size: 12px;
                                    font-weight: $semi-bold;
                                    color: $primary-font-color !important;
                                    line-height: 1.2;
                                    text-decoration: underline;
                                    height: auto;
                                    width: initial;
                                    &:hover {
                                        background: transparent !important;
                                        opacity: 0.5;
                                    }
                                }
                            }
                        }
                    }
                }

                .cart-collaterals {
                    .cart_totals {
                        float: unset;
                        width: 100%;
                        @include respond-to('medium') {
                            padding-left: 20px;
                        }
                        @include respond-to('s-desk') {
                            padding-left: 65px;
                        }
                        &--title {
                            @include font($secondary-font, $bold);
                            font-size: 0.75em;
                            line-height: 1.2;
                            text-transform: uppercase;
                            padding: 8px 12px;
                        }

                        .shop_table {
                            border: none;
                            border-radius: 0;
                            .cart-subtotal {
                                th {
                                    font-weight: $regular;
                                    font-size: 15px;
                                }
                                td {
                                    font-size: 16px;
                                    text-align: right;
                                }
                            }
                            .shipping {
                                th {
                                    font-weight: $regular;
                                    font-size: 15px;
                                }
                                td {
                                    ul#shipping_method {
                                        li {
                                            text-align: right;
                                            label {
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: flex-end;
                                                font-size: 13px;
                                                gap: 7px;
                                                .amount {
                                                   font-size: 16px;
                                                   font-weight: $regular; 
                                                }
                                            }
                                        }
                                    }
                                    .woocommerce-shipping-destination {
                                        font-size: 15px;
                                        strong {
                                            font-size: 14px;
                                        }
                                    }
                                    .woocommerce-shipping-calculator {
                                        .shipping-calculator-button {
                                            font-weight: $regular;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                            .order-total {
                                th {
                                    font-weight: $semi-bold;
                                    font-size: 20px;
                                    padding: 15px 12px;
                                }
                                td {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-end;
                                    padding: 15px 12px;
                                    strong {
                                        font-size: 22px;
                                    }
                                }
                            }
                        }

                        .wc-proceed-to-checkout {
                            .checkout-button {
                                @extend .btn-dark, .btn-xl;
                                width: 100%;
                                min-height: 60px;
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}