.single-page {
    &.single-home {
        .section-block {
            &.section-hero {
                margin-bottom: 20px;
                .home-hero-slider {
                    .slick-slide {
                        .slide {
                            position: relative;
                            height: calc(100vh - 100px);
                            z-index: 0;
                            @include respond-to('s-desk') {
                                height: 600px;
                            }
                            &__left {
                                @include full-absolute(0);
                                width: 50%;
                            }
                            &__right {
                                @include full-absolute(0);
                                width: 50%;
                                left: unset;
                                right: 0;
                            }
                            &__logo {
                                position: absolute;
                                top: 10%;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 100%;
                                max-width: 80%;
                                z-index: 1;
                            }
                            &__main {
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                width: auto;
                                height: 95%;
                                z-index: 2;
                                img {
                                    height: 100%;
                                }
                            }
                            &__content {
                                position: absolute;
                                left: 0;
                                bottom: 20px;
                                width: 35%;
                                height: auto;
                                padding: 0 30px 20px 50px;
                                z-index: 2;
                                &--text {
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                    .slick-dots {
                        position: absolute;
                        right: 20px;
                        bottom: 15px;
                        @include flex-display(row, flex-end, center);
                        z-index: 2;
                        li {
                            font-size: 0;
                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                            &.slick-active {
                                button {
                                    width: 20px;
                                }
                            }
                            button {
                                display: block;
                                font-size: 0;
                                width: 10px;
                                height: 10px;
                                background: $primary-font-color;
                                border: none;
                                border-radius: 10px;
                                outline: 0 !important;
                                padding: 0;
                                @include transition(0.3s);
                            }
                        }
                    }
                }
            }

            &.section-search {
                margin-bottom: 20px;
                .dgwt-wcas-search-input {
                    font-family: $secondary-font;
                }
            }

            &.section-prod-cats {
                position: relative;
                z-index: 0;
                .prod-cats-slider {
                    @extend .container;
                    .slick-list {
                        overflow: visible;
                    }
                    .slick-slide {
                        opacity: 0.3;
                        @include transition(0.3s);
                        .slide {
                            margin: 0 8px;
                            &__perma {
                                @include flex-display(row, center, center);
                                font-size: 20px;
                                font-weight: $regular;
                                color: $primary-font-color;
                                height: 100px;
                                position: relative;
                                &:after {
                                    content: '';
                                    @include full-absolute(-1);
                                    background-color: #8EC5FC;
                                    background-image: linear-gradient(45deg, #8EC5FC 0%, #E0C3FC 100%);
                                    opacity: 0.4;
                                }
                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }
                        &.slick-active {
                            opacity: 1;
                        }
                    }
                }
                .prod-cats-nav {
                    position: relative;
                    .slick-arrow {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 40px;
                        height: 40px;
                        background: $primary-bg;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 25px;
                        color: $primary-font-color;
                        @include transition(0.3s);
                        opacity: 0.3;
                        z-index: 2;
                        &:hover {
                            opacity: 1;
                        }
                        &.slick-prev {
                            left: -20px;
                        }
                        &.slick-next {
                            right: -20px;
                        }
                    }
                }
                .prod-cats-nav-container {
                    @include center-absolute(1);
                }
            }

            &.section-trends {
                padding: 70px 0;    
                .section-title {
                    margin-bottom: 20px;
                }
                .btn-outline-dark {
                    margin-top: 30px;
                }
            }

            &.section-women-men {
                padding: 70px 0;
                .women-men {
                    width: 100%;
                    &__perma {
                        display: flex;
                        &--img {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            z-index: 0;
                            overflow: hidden;
                            img {
                                width: 100%;
                                object-fit: cover;
                                object-position: center;
                                @include transition(0.6s);
                            }
                            figcaption {
                                position: absolute;
                                left: 25px;
                                bottom: 35px;
                                font-size: 55px;
                                @include font($primary-font, $regular);
                                color: $primary-bg;
                                line-height: 0.8;
                                z-index: 1;
                                padding: 0 20px;
                                @include transition(0.6s);
                                &.women {
                                    left: unset;
                                    right: 15px;
                                }
                                &:before {
                                    content: '';
                                    @include full-absolute(-1);
                                    top: 5px;
                                    width: 100%;
                                    height: 110%;
                                    background-color: #4158D0;
                                    background-image: linear-gradient(223deg, #4158D0 0%, #C850C0 57%);
                                }
                            }
                        }
                        &:hover {
                            .women-men__perma--img {
                                img {
                                    transform: scale(1.1);
                                }
                                figcaption {
                                    opacity: 0.4;
                                }
                            }
                        }
                    }
                }
                .offers {
                    @include flex-display(column, center, center);
                    height: 100%;
                    &__text {
                        @include flex-display(column, center, center);
                        text-transform: uppercase;
                        .highlight {
                            font-size: 50px;
                            color: $primary-color;
                        }
                        .smaller {
                            @include font($secondary-font, $regular);
                            font-size: 20px;
                            text-transform: capitalize;
                        }
                        .normal {
                            @include font($secondary-font, $regular);
                            font-size: 50px;
                            text-transform: capitalize;
                        }
                    }
                    &__cta {
                        margin-top: 20px;
                    }
                }
            }

            &.section-featured {
                padding: 70px 0;
                .pre-title {
                    @include font($secondary-font, $light);
                    color: $primary-color;
                    text-transform: uppercase;
                    background: $primary-bg;
                    padding: 0 20px;
                    position: relative;
                    z-index: 0;
                    &:before {
                        content: '';
                        @include center-absolute(-2);
                        height: 1px;
                        width: 200%;
                        background: $primary-font-color;
                    }
                    &:after {
                        content: '';
                        @include full-absolute(-1);
                        height: 100%;
                        width: 100%;
                        background: $primary-bg;
                    }
                }
                .nav-tabs {
                    margin-bottom: 15px;
                    border: none;
                    .nav-item {
                        .nav-link {
                            @include font($primary-font, $regular);
                            font-size: 40px;
                            color: $primary-font-color;
                            text-transform: capitalize;
                            border: none !important;
                            opacity: 0.5;
                            &.active {
                                color: $primary-color;
                                opacity: 1;
                            }
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
                .tab-content {
                    .product-slider {
                        .slick-slide {
                            &:not(:last-child) {
                                margin-right: 24px;
                            }
                        }
                    }
                }
            }

            &.section-faq {
                padding: 70px 0;
                .pre-title {
                    @include font($secondary-font, $light);
                    color: $primary-color;
                    text-transform: uppercase;
                    background: $primary-bg;
                    padding: 0 20px;
                    position: relative;
                    z-index: 0;
                    &:before {
                        content: '';
                        @include center-absolute(-2);
                        height: 1px;
                        width: 200%;
                        background: $primary-font-color;
                    }
                    &:after {
                        content: '';
                        @include full-absolute(-1);
                        height: 100%;
                        width: 100%;
                        background: $primary-bg;
                    }
                }
                .section-desc {
                    font-size: 13px;
                }
                .faq-block {
                    gap: 50px;
                    .faq {
                        text-align: center;
                        max-width: 150px;
                        &__perma {
                            display: flex;
                            flex-direction: column;
                            color: $primary-font-color;
                            gap: 10px;
                            &--title {
                                @include font($secondary-font, $medium);
                                font-size: 14px;
                            }
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

            &.section-brands {
                .section-title {
                    margin-bottom: 30px;
                }
                .brands-slider {
                    .slick-slide {
                        margin: 0 40px;
                        .brand {
                            &__perma {
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                height: 100px;
                                img {
                                    max-width: 300px;
                                    max-height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}